
<%= content_for :page_scripts do %>
 <script>

   $(document).ready(function(){
     Booknodes.initialize('<%= @event.id %>');
     Booknodes.breakdownsView.render();
   });

  </script>

<% end %>

<div class='col-md-12'>
  <h1>Breakdowns</h1>
  <div id='app'></div>

</div>
