<div class='idea-list'>
  <div><a href='#' class='expand-sidebar-button btn'><<</a></div>
  <br />
  <br />
  <div class='clearfix'></div>
  <ul>
    <li class='idea-node'><%= link_to 'All', book_event_path(@event) %></li>
    <% @idea_list.each do |idea,number| %>
      <li class='idea-node'><%= link_to raw("#{idea} <span class='info'>(#{number})</span>"), idea_filter_path(@event, url_encode(idea))  %></li>
    <% end %>
  </ul>
</div>
