<% content_for :topbar do %>
  <h1 class='subheader'><%= @event.title %></h1>
<% end %>

<% content_for :sidebar do %>
  <div>
    sidebar stuff here
  </div>
<% end %>


<div class='ideas'>
  <%= div_for(@ideas.order_by(:created_at => :desc)) do |idea| %>
    <p><%= idea.note %></p>
    <div class='node-list'><%= idea.list_nodes %></div>
  <% end %>
</div>
