<% content_for :topbar do %>
  <h1 class='subheader'><%= @event.title %></h1>
<% end %>

<% content_for :sidebar do %>
  <div>
    sidebar stuff here
  </div>
<% end %>


<div class='ideas'>
  <%= div_for(@event.ideas) do |idea| %>
    <p><%= idea.note %></p>
  <% end %>
</div>
