<div class='row full-height'>

  <div class='large-9 push-3 columns notes full-height'>
    Notes listed in here
  </div>

  <div class='large-3 pull-9 columns sidebar full-height'>
    <%= @event.title %>
  </div>

</div>
