<% if user_signed_in? %>
  <div class='book-list'>
    <% if @events %>
      <% @events.each do |event| %>
        <div class='event col-md-2'><strong><%= link_to event.title, event  %></strong></div>
      <% end %>
    <% end %>

    <div>
      <%= link_to '+', new_book_event_path, :class => 'btn btn-default btn-lg' %>
    </div>
  </div>

<% end %>
