<% if user_signed_in? %>
  <div class='book-list'>
    <% if @events %>
      <ul class='small-block-grid-1 medium-block-grid-2 large-block-grid-5'>
        <% @events.each do |event| %>
          <li class='event'><strong><%= link_to event.title, event  %></strong></li>
        <% end %>
      </ul>
    <% end %>

    <%= link_to '+', new_book_event_path, :class => 'new-plus btn' %>
  </div>

<% end %>
