<div class='user-actions'>
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
  <% end %>
</div>

<% if @events %>
  <%= div_for @events do |event| %>
    <%= link_to event.title, event  %>
  <% end %>
<% end %>
