<div class='large-12 columns'>
  <% if @events %>
    <%= div_for @events do |event| %>
      <%= link_to event.title, event  %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to '+', new_book_event_path, :class => 'new-plus btn' %>
  <% end %>

</div>
