@import 'foundation/foundation-global';
@import "foundation/components/buttons";

$main-button-color: #C96A46;
$main-button-border-color: #AC6043;
$main-button-hover-color: #66669C;
$main-button-hover-border-color: #66669C;

.idea-actions {
  padding: 2% 0;
}

@mixin site-button-base {
  @include button-base;
  @include button-size(.5em, false, true);
  @include button-style($main-button-color, 2px);
  font-family: 'glegoo','serif';
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: background 0.08s linear;
  -moz-transition: background 0.08s linear;
  transition: background 0.08s linear;


  &:hover {
    background: $main-button-hover-color;
    color: rgb(243, 243, 243);
    border: 1px solid $main-button-hover-border-color;
  }

}

.btn {
  @include site-button-base;
  line-height: 14px;
}

@-moz-document url-prefix() {
  input.btn {
    padding-top: .3em;
    padding-bottom: .35em;
  }
}

.edit-button {
  @include site-button-base;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border: 1px solid #2284a1;
  font-size: 1.5em;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-top: 0px;
  width: 38px;
  height: 33px;
  font-size: 21px;
  font-weight: bold;
  visibility: hidden;

}

.idea:hover .edit-button {
  visibility: visible;
}

.btn.expand-sidebar-button {
  @include site-button-base;
  margin: 5px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 4px;
  display: none;
  line-height: 30px !important;
}

.btn.new-plus {
  font-size: 1.5em;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: bold;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  margin: 0px;
  margin-top: 5px;
  line-height: 35px !important;
}
