// Place all the styles related to the breakdowns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.breakdown {
  background: rgb(181, 178, 178);
  padding-top: 40px;
  padding-bottom: 40px;
}
