.expand-sidebar-button {
  display: none;
}

.mobile.sidebar {
  display: none;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0px !important;
  }

  .content.slide {
    margin-left: 240px !important;
  }

  .expand-sidebar-button {
    display: block;
    float: left;
    margin-right: 5px;
  }

}
