$dark-gray: #cccccc;
$light-gray: #efefef;
$gray-border: #AAAAAA;
$light-gray-border: #CCCCCC;
$text-color: rgb(65, 65, 65);
$light-text-color: rgb(114, 114, 114);
$small-text-size: .9em;

html, body, .main, .full-height {
  height: 100%;
  font-size: 14px;
}

body {
  background: $light-gray;
  color: $text-color;
}

.clearfix {
  clear: both;
}

.topbar {
  height: 40px;
  border-bottom: 1px solid $gray-border;
  /* position: fixed; */
  width: 100%;
  padding-left: 5px;
}

.content {
  margin-left: 240px;
}

.sidebar {
  background: $dark-gray;
  border-right: 1px solid $gray-border;
  float: left;
  width: 240px;
  position: fixed;
}

.ideas, .sidebar {
  height: 100%;
}

.idea {
  padding: 5px;
  border-bottom: 1px solid $light-gray-border;

  &:hover {
    box-shadow: 0 0 10px #BEBEBE;
    border-bottom: none;
  }

  .row {
    max-width: 100%;
  }

  .columns {
    padding-left: 0px;
  }
}

.idea-content {
  color: $text-color;

  &:hover {
    color: $text-color;
  }
}


.node-list, .page-number {
  font-size: $small-text-size;
  color: $light-text-color;
}

.page-number {
  text-align: right;
}


.idea-list {

  .idea-node {
    height: 30px;
    border-bottom: 1px solid $gray-border;
    padding-top: 7px;
    padding-left: 5px;

    &:hover {
      background: $light-gray;
    }
  }

  a {
    color: $text-color;
  }
}

.subheader.event-title {
  width: 50%;
  float: left;
}

.new-idea {
  float: right;
  margin-top: 10px;
  padding-right: 5px;
}

.new-idea-form {
  display: none;
}

.ideas form {
  display: none;
}

.idea.editing .show {
  display: none;
}

.idea.editing form {
  display: block;
}
