$dark-gray: #cccccc;
$light-gray: #efefef;
$gray-border: #AAAAAA;
$light-gray-border: #CCCCCC;

html, body, .main, .full-height {
  height: 100%;
}

body {
  background: $light-gray;
}

.topbar {
  height: 40px;
  border-bottom: 1px solid $gray-border;
  /* position: fixed; */
  width: 100%;
  padding-left: 5px;
}

.content {
  margin-left: 240px;
}

.sidebar {
  background: $dark-gray;
  border-right: 1px solid $gray-border;
  float: left;
  width: 240px;
  position: fixed;
}

.ideas, .sidebar {
  height: 100%;
}

.idea {
  padding: 5px;
  border-bottom: 1px solid $light-gray-border;
}

