html, body, .main, .full-height {
  height: 100%;
}

body {
  background: #efefef;
}

.content {
  margin-left: 240px;
}

.sidebar {
  background: #cccccc;
  border-right: 1px solid #AAAAAA;
  float: left;
  width: 240px;
  position: fixed;
}

.notes, .sidebar {
  height: 100%;
}

