<% content_for :main_content do %>

  <div class='sidebar'>
    <%= yield :sidebar %>
  </div>

  <div class='content'>

    <div class='topbar'>
      <%= yield :topbar %>
    </div>

    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>

